body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
     margin: 0pt;
     padding: 0pt;
}

fieldset, img, a img {
     border: 0pt none;
}

table {
     border-collapse: collapse;
     border-spacing: 0pt;
}

ol, ul {
     list-style: none outside none;
}

address, caption, cite, code, dfn, em, strong, th, var {
     font-style: normal;
     font-weight: normal;
}

caption, th {
     text-align: left;
}

h1, h2, h3, h4, h5, h6 {
     font-size: 100%;
     font-weight: normal;
}

q:before, q:after {
     content: "";
}

abbr, acronym {
     border: 0pt none;
}

body {
     background-color: white;
     font: 11px/16px Arial,Helvetica,sans-serif;
}

#web_main {
     clear: both;
     margin: 0px auto;
     position: relative;
     width: 960px;
}

fieldset {
     clear: both;
     margin: 10px 0px;
}

label {
     color: #808080;
     display: block;
     float: left;
     text-indent: 0.5em;
     width: 130px;
}

input, select {
     border: 1px solid #B2B2B2;
     width: 15px;
	 display:inline;
	 border:none;
}
input.next,input.shuru{ width:150px;border: 1px solid #B2B2B2;}
.product h4{ float:left;}
.product_sku{ clear:both;}
input.radio {
     border: 0px none;
     width: auto;
}

a {
     color: #D9141E;
     text-decoration: underline;
}

a:hover {
     text-decoration: none;
}

.left {
     float: left;
}

.right {
     float: right;
}

.clear-block:after {
     clear: both;
     content: ".";
     display: block;
     height: 0pt;
     visibility: hidden;
}

.clear-block {
     display: inline-block;
}

* html .clear-block {
     height: 1%;
}

.clear-block {
     display: block;
}

br.clear, div.clear {
     clear: both;
     display: block;
     font: 1px/1px Arial;
}

.font-14 {
     font-size: 14px;
}

.font-18 {
     font-size: 18px;
     line-height: 36px;
}

.font-24 {
     font-size: 24px;
}

.font-red {
     color: #9eb201;
}

.font-gray {
     color: #808080;
}

h2 {
    
}

h3 {
     color: #000000;
     font-size: 18px;
     height: 40px;
     line-height: 40px;
}

.text_center {
     text-align: center;
}

.tip {
     background: url("../images/right_tab_bg.gif") no-repeat scroll left top transparent;
     height: 138px;
     padding-left: 1px;
     padding-top: 30px;
     position: absolute;
     right: -19px;
     top: 20px;
     width: 18px;
     z-index: 1000;
}

.tip .tip_button {
     background: url("../images/tip_button_bg.gif") no-repeat scroll right top transparent;
     cursor: pointer;
     display: block;
     height: 53px;
     overflow: hidden;
     text-indent: -1000px;
     width: 18px;
}

.tip_area {
     height: 155px;
     position: absolute;
     right: 0px;
     top: 18px;
     width: 153px;
}

.tip_area li {
     background: url("../images/tip_ico.gif") no-repeat scroll 0% 0.6em transparent;
     color: #504C4D;
     margin-bottom: 8px;
     padding-left: 8px;
}

#inner {
     height: 155px;
     overflow: hidden;
     position: relative;
     width: 153px;
}

#inner #inner_block {
     background: url("../images/tip_area_bg.gif") repeat-y scroll left top transparent;
     height: 135px;
     left: 153px;
     padding: 10px 8px;
     position: absolute;
     top: 0px;
     width: 137px;
     z-index: 1100;
}

ul.link_list {
     margin: 0px 12px;
}

ul.link_list li {
     margin: 12px 0px;
}

ul.link_list li a {
     background: url("../images/link_list_ico.gif") no-repeat scroll left center transparent;
     font-size: 12px;
     padding-left: 15px;
     text-decoration: none;
}

ul.list_dv li {
     border-bottom: 1px solid #B2B2B2;
     margin: 15px 0px;
     padding: 15px 5px 0px;
	 clear:both;
}
ul.list_dv1 li{ padding-bottom:10px;}

ul.list_dv li h4 {
     font-size: 14px;
     font-weight: bold;
}

ul.list_dv li h4 a {
     text-decoration: none;
}

ul.list_dv li .product_name {
     color: #808080;
}

ul.list_dv li .product_message {
     font-size: 10px;
}

ul.list_dv li .product_content span {
     color: #808080;
}

ul.list_dv li .product_name, ul.list_dv li .product_message, ul.list_dv li .product_content {
     font-size: 11px;
     margin: 10px 0px;
}

ul.no-border li {
     border: 0px none;
}

table.table_style_1 {
    
}

table.table_style_1 td {
     border-bottom: 1px solid #B2B2B2;
     padding: 10px 4px;
}

table.table_style_1 strong {
     font-size: 12px;
     font-weight: bold;
}

table.table_style_1 label {
     font-size: 12px;
     margin-left: 5px;
     text-indent: 0pt;
}

table.table_style_1 label span {
     color: #000000;
}

table.table_style_1 .title strong {
     color: #808080;
}

table.table_style_1 .title_2 td {
     border-bottom: 1px solid #B2B2B2;
     border-top: 1px solid #B2B2B2;
}

table.table_style_1 .title_2 strong {
     color: #808080;
}

table.table_style_1 .processing_tr .font-red {
     color: #D7131D;
}

table.table_style_1 tr.current_plan td {
     background: url("../images/current_tr_bg.gif") repeat-x scroll left top transparent;
}

table.table_style_2 {
     margin-bottom: 10px;
}

table.table_style_2 td {
     border-bottom: 1px solid #E6E6E6;
     padding: 4px 2px;
}

table.table_style_2 strong {
     font-weight: bold;
}

table.table_style_2 .title td {
     border-bottom: 1px solid #B2B2B2;
     border-top: 1px solid #B2B2B2;
}

table.table_style_2 .title td strong {
     color: #808080;
}

table.table_style_3 td.border_bottom_1 {
     border-bottom: 1px solid #B2B2B2;
}

table.table_style_3 td {
     padding: 4px 0px;
     text-indent: 0.5em;
}

table.table_style_3 .title td {
     background-color: #969696;
     color: #FFFFFF;
     font-weight: bold;
}

table.table_style_3 strong {
     font-weight: bold;
}

table.table_style_3 td.item_td {
     text-indent: 3em;
}

table.table_rateplan td {
     border-bottom: 1px solid #E6E6E6;
}

table.table_rateplan .title td {
     border-bottom: 1px solid #B2B2B2;
}

#top, #main, #foot {
     clear: both;
     margin: 0px auto;
     width: 960px;
}

#top {
     height: 40px;
     position: relative;
	 margin-bottom:0px;
}

#logo {
     display: block;
     height: 28px;
     overflow: hidden;
     padding: 10px 20px;
     width: 126px;
}

#logo a {
     background: url("../images/logo.gif") no-repeat scroll left top transparent;
     display: block;
     height: 28px;
     text-indent: -1000em;
     width: 126px;
}

#logo_button {
     background: url("../images/logo_button_bg.gif") no-repeat scroll left top transparent;
     bottom: -3px;
     color: #FFFFFF;
     display: block;
     font-size: 12px;
     height: 28px;
     line-height: 28px;
     position: absolute;
     right: 26px;
     text-align: center;
     text-decoration: none;
     width: 136px;
     z-index: 50;
}

#top_message_button {
     background: url("../images/top_button_style_left.gif") no-repeat scroll left top transparent;
     bottom: -29px;
     display: block;
     position: absolute;
     right: 18px;
     z-index: 25;
}

#top_message_button span {
     background: url("../images/top_button_style_right.gif") no-repeat scroll right top transparent;
     display: block;
     padding: 6px 10px 7px;
}

#main.edit_dv {
     margin-top: 29px;
     width: 588px;
}

#main .main_banner {
     clear: both;
     margin-bottom: 15px;
     margin-top: 18px;
}

#main h1 {
     border-bottom: 1px solid #B2B2B2;
     font-size: 22px;
     height: 44px;
     line-height: 44px;
     padding-left: 12px;
}

#main h1 img {
     vertical-align: middle;
}

.billing_balance {
     font-size: 12px;
     margin: 10px 0px;
}

.billing_balance strong {
     font-weight: bold;
}

.colum_2 {
     clear: both;
}

.colum_2 .colum_2_1 {
     display: inline;
     float: left;
     margin: 0px 8px 0px 4px;
     width: 472px;
}

.colum_2 .colum_2_2 {
     display: inline;
     float: left;
     margin: 0px 4px 0px 0px;
     width: 472px;
}

.home_colum_2 {
     clear: both;
}

.colum_2_2 .colum_4_1{ width:220px; float:left; text-align:center; margin-right:10px;}
.colum_2_2 .colum_4_2{ margin:0;}


.home_colum_2 strong {
     font-weight: bold;
}

.home_colum_2 .home_colum_2_1, .home_colum_2 .home_colum_2_2 {
     display: inline;
     float: left;
}

.home_colum_2 .home_colum_2_1 {
     margin-right: 40px;
     width: 520px;
}

.home_colum_2 .home_colum_2_2 {
     width: 350px;
}

.home_colum_2 .block-gray {
     background-color: #FFFFFF;
     border: 1px solid #808080;
     margin: 15px 0px;
     padding: 12px;
}

.home_colum_2 h4 {
     border-bottom: 1px solid #B2B2B2;
     font-size: 16px;
     height: 24px;
     line-height: 24px;
}

.home_colum_2 .home_colum_2_2 h4 {
     border: 0px none;
}

.home_colum_2 .block-gray td a {
     text-decoration: none;
}

.home_colum_2 .block-gray .plan_table td {
     border: 0px none;
     font-size: 12px;
     padding: 0px 2px;
}

.home_colum_2 .block-gray .plan_table td a.button_link span {
     padding: 2px 8px;
}

.info_block {
     border-left: 1px solid #DADADA;
     font-size: 12px;
     margin-bottom: 20px;
     padding-left: 15px;
}

.info_block td {
     padding: 4px 0px;
}

.info_block h4 {
     font-size: 16px;
     height: 24px;
     line-height: 24px;
}

.infor_area {
     margin: 20px 0pt;
}

.infor_area .info_block {
     float: left;
     width: 340px;
}

#infor {
     display: none;
}

.error_message {
     border: 1px solid #D9141E;
     margin: 10px 0px;
     padding: 6px 12px;
}

.error_message .block_message {
     background: url("../images/error_ico.gif") no-repeat scroll left top transparent;
     color: #D9141E;
     padding-left: 18px;
}

.colum_3 {
     clear: both;
}

.colum_3 .colum_3_1, .colum_3 .colum_3_2, .colum_3 .colum_3_3 {
     display: inline;
     float: left;
     margin-right: 6px;
     width: 148px;
}

.colum_3 .colum_3_3 {
     margin-right: 0px;
}

.colum_content_view h3 {
     height: 45px;
     line-height: 30px;
	 
}

.colum_content_view .block {
     background: url("../images/block_bg_1.gif") repeat-x scroll left bottom #FFFFFF;
     border: 1px solid #93AA00;
     height: 254px;
     margin-bottom: 20px;
     overflow: hidden;
     padding: 10px 6px;
}

.colum_content_view .block h4 {
     font-size: 14px;
     font-weight: bold;
     height: 26px;
     line-height: 26px;
     margin-bottom: 0px;
     text-align: center;
}

.colum_content_view .block p {
     color: #808080;
     font-size: 12px;
     line-height: 16px;
     margin: 10px 2px;
     padding: 0px 2px;
     width: auto;
}

.colum_content_view .block p.link {
     padding: 0px 30px;
}

.colum_content_view .block p.block_title_1 {
     color: #808080;
     font-size: 14px;
     height: 26px;
     line-height: 26px;
     margin: 0px 12px;
}

.topline {
     border-top: 1px solid #B2B2B2;
}

.messageblock {
     margin: 20px 0px 0px;
     padding: 20px;
}

.messageblock p {
     float: none;
}

#loading {
     background-color: #F2F2F2;
     border: 1px solid #D9141E;
     padding: 12px;
}

#loading img {
     vertical-align: bottom;
}

#main form h4 {
     background-color: #969696;
     color: #FFFFFF;
     height: 22px;
     line-height: 22px;
     text-indent: 0.5em;
}

form .field_area {
     margin-bottom: 30px;
}

fieldset.form_edit_area {
     border-top: 1px solid #B2B2B2;
     margin: 20px 0px 0px;
     padding: 20px 210px 0px;
     text-align: center;
}

fieldset.form_edit_area a.button1_style {
     margin-right: 10px;
}

form p {
     float: left;
}

form .must {
     background:url(../images/form_must_bg.gif) no-repeat #FFF;
     padding: 0px 4px;
	 border: 1px solid #B2B2B2;
	 height:20px;
	 line-height:18px;
}
form .must input{ height:15px;  border:none;  line-height:15px; background:none;}
form .need {
     padding: 0px 4px;
}

.example_text {
     color: #B2B2B2;
     display: block;
     font-size: 10px;
     margin-left: 1px;
     padding-left: 3px;
}

form .pay_type_list li {
     float: left;
     width: 110px;
}

.error_msg {
     clear: both;
     color: red;
     display: block;
     padding-left: 5px;
}

.button_area {
     border-top: 1px solid #B2B2B2;
     padding: 15px 0px 50px;
}

.no-border {
     border: 0px none;
}

.logo_area {
     border: 1px solid #DA151F;
     margin-bottom: 18px;
     padding: 0px 20px 18px;
}

#lightbox_pop {
     height: 286px;
     overflow: hidden;
     width: 542px;
}

#lightbox_pop .pop_main {
     border: 1px solid #D9141E;
     height: 272px;
     padding: 6px;
}

#lightbox_pop .pop_main h1 {
     background-color: #999999;
     clear: both;
     color: #FFFFFF;
     font-size: 18px;
     height: 30px;
     line-height: 30px;
     text-indent: 0.5em;
}

#lightbox_pop .pop_main p {
     color: #000000;
     font-size: 12px;
     padding: 10px;
}

#lightbox_pop .pop_main .field_area {
     padding: 0px 10px;
}

#foot {
     border-top: 1px solid #E6E6E6;
     color: #B3B3B3;
     padding: 30px 0px;
     text-align: center;
}

#foot ul {
     margin-bottom: 20px;
}

#foot ul li {
     display: inline;
     padding: 0px 10px;
}

a.button1_style {
     display: block;
     float: left;
     text-decoration: none;
}

a.button1_style span {
     background: url("../images/button1_style_right.gif") no-repeat scroll right top transparent;
     color: #FFFFFF;
     display: block;
     font-size: 12px;
     padding: 6px 20px 7px;
}

a.button2_style {
     background: url("../images/button2_style_left.gif") no-repeat scroll left top transparent;
     display: block;
     float: left;
     text-decoration: none;
}

a.button2_style span {
     background: url("../images/button2_style_right.gif") no-repeat scroll right top transparent;
     color: #FFFFFF;
     display: block;
     font-size: 12px;
     padding: 6px 20px 7px;
}

a.button_link,.l_anniu {
     background: url("../images/people_img_4.jpg") no-repeat scroll left top transparent;
     display: block;
     text-align: center;
     text-decoration: none;
	 width:120px; height:32px; text-align:center; line-height:32px;
}

a.button_link span {
     color: #FFFFFF;
     display: block;
     padding: 2px 20px;
}

a.button_link_2 {
     background: url("../images/button_link_2_left.gif") no-repeat scroll left top transparent;
     display: block;
     text-align: center;
     text-decoration: none;
}

a.button_link_2 span {
     background: url("../images/button_link_2_right.gif") no-repeat scroll right top transparent;
     color: #FFFFFF;
     display: block;
     padding: 2px 20px;
}
.colum_2_2 .colum_4_1 p{ text-align:left; width:180px; display:block; padding-left:20px;}